.chat
  .chat-top
    %p チャットグループが作成されました。
  .chat-side
    .chat-user
      %h5 yoshimura
      .chat-user__actions
        .chat-user__action
          %i.fa.fa-pencil-square-o
        .chat-user__action
          = link_to edit_user_registration_path do
            %i.fa.fa-cog
    .chat-groups
      .chat-group
        %p.chat-group__name
          tech::camp
        %p.chat-group__message
          Good bye world!
      .chat-group
        %p.chat-group__name
          expart7
        %p.chat-group__message
          まだメッセージはありません。
  .chat-main
    .chat-header
      .chat-header__left
        %h2 tech::camp
        %p.chat-header__users
          Members: yoshimura iwai miyazaki
      .chat-header__right
        %p.chat-header__edit-btn
          Edit
    .chat-body
      %ul.chat-messages
        %li.class.chat-message
          %p.chat-message__name
            yoshimura
          %p.chat-message__time
            2016/09/29 02:23:55
          %p.chat-message__body
            Hello world!
        %li.class.chat-message
          .chat-message__header
            %p.chat-message__name
              iwai
            %p.chat-message__time
              2016/10/20 02:23:55
            %p.chat-message__body
              Good bye world!
    .chat-footer
      .chat-footer__body
        %textarea{:placeholder => "type a message"}
        %label.chat-footer__body__image
          %i.fa.fa-image
      %p.chat-footer__send-btn Send


